.icon {
  display: flex;
  gap: 32px;
}

.text {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.42px;
  margin-right: 30px;
}

.iconic{
  display: flex;
  align-items: center;
  gap: 8px
}
