.container {
  flex-shrink: 0;
}

.two {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px 15px 0px 15px;
}

.three {
  overflow: hidden;
  color: var(--foundation-black-black-7, #8c8c8c);
  text-overflow: ellipsis;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0px 15px 0px 15px;
}

.image {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 50px 20px 20px 0px;
  transition: all 0.5s linear;
}
.circles {
  background-color: var(--Alt-Primary, #d81159);
  width: 52px;
  height: 52px;
  position: absolute;
  top: 95%;
  left: 70%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s linear;
}

.image:hover {
  width: 188px;
  height: 188px;
}

.container:hover .playButton {
  opacity: 1;
}

.container:hover .circles {
  opacity: 1;
  top: 75%;
}

.img {
  position: relative;
  display: inline-block;
}

.logo {
  /* background-color: white; */
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
